<% provide(:title, 'Businesses') %>
<div class="center hero-unit">
    <h1>Businesses</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Postal code</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <% @businesses.each do |business| %>
        <tr>
            <td><%= business.name %></td>
            <td><%= business.address %></td>
            <td><%= business.city %></td>
            <td><%= business.state %></td>
            <td><%= business.postal_code %></td>
            <td><%= business.latitude %></td>
            <td><%= business.longitude %></td>
            <td><%= link_to 'Show', business %></td>
            <td><%= link_to 'Edit', edit_business_path(business) %></td>
            <td><%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </table>
    <br />
    <%= link_to 'New Business', new_business_path %>
</div>