<% provide(:title, 'Inspections') %>
<div class="center hero-unit">
  <h1>Inspections</h1>
  <table>
    <tr>
      <th>Business</th>
      <th>Score</th>
      <th>Date</th>
      <th>Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @inspections.each do |inspection| %>
    <tr>
      <td><%= inspection.business_id %></td>
      <td><%= inspection.score %></td>
      <td><%= inspection.date %></td>
      <td><%= inspection.type %></td>
      <td><%= link_to 'Show', inspection %></td>
      <td><%= link_to 'Edit', edit_inspection_path(inspection) %></td>
      <td><%= link_to 'Destroy', inspection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </table>
  <br />
  <%= link_to 'New Inspection', new_inspection_path %>
</div>